/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Gentium+Plus:ital,wght@0,400;0,700;1,400;1,700&family=Kalnia:wght@100..700&display=swap');

/* Normalize */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: var(--col-primary);
}

/* Variables */
:root{
    /* Fonts */
    --font-text: 'Gentium Plus', serif;
    --font-title: 'Kalnia', serif;

    /* Colors */
    --col-primary: #fff;
    --col-secondary: #000;

    --col-A:#265073;
    --col-B:#2D9596;
    --col-C:#9AD0C2;
    --col-D:#F1FADA;

    /* Gradient */
    --gradient-1: linear-gradient(90deg, var(--col-A) 0%, var(--col-B) 100%) fixed center no-repeat;
    --gradient-2: linear-gradient(90deg, var(--col-C) 0%, var(--col-D) 100%) fixed center no-repeat;
}

/* Animaciones */
@keyframes titulos {
    0%{
        transform: translateX(-100%);
    }

    50%{
        transform: scale(1.5);
    }

    100%{
        transform: translateX(0);
    }
}

@keyframes fade-in {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}


/* Body */

    body{
        color: var(--col-primary);
        font-family: var(--font-text);
        background: var(--gradient-1)
    }

/* Header */
    header{
        display: flex;
        justify-content: space-between;
        align-items: center;

        position: fixed;
        top: 0;
        width: 100%;

        height: 100px;
        padding: 0 30px;
        background: var(--col-A);

        box-shadow: 0 0 10px var(--col-B);
    }

    header h1{
        font-family: var(--font-title);
        font-size: 2rem;
        text-shadow: 0 0 10px var(--col-B);

        animation: fade-in ease-in;
        animation-duration: 1s;
    }

    header i{
        font-size: 1.5rem;
    }

    header i:hover{
        cursor: pointer;
        text-shadow: 0 0 10px var(--col-B);
        transition: 0.5s;
    }

/* Main */
main{
    margin-top: 100px;
}

.intro{
    height: calc(100vh - 100px);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: url(https://a-static.besthdwallpaper.com/chainsaw-man-denji-minimalist-wallpaper-2560x1440-79215_51.jpg) fixed right no-repeat;
    background-size: cover;
}

.intro-filter{
    height: 100%;
    width: 100%;
    background-color: #0000009a;
}

.intro h1{
    position: absolute;
    font-size: 4rem;
    width: 50%;
    text-shadow: 0 0 10px var(--col-B);

    animation: ease-out;
    animation-name: titulos;
    animation-duration: 1s ;

}


/* Footer */
footer{
    background: var(--col-A);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 -3px 10px var(--col-C);
    padding: 20px 0;
}

.footer-links{
    display: flex;
    justify-content:center;
    column-gap: 40px;
}

.footer-links a{
    font-size: 2rem;
}

.footer-links a:hover{
    text-shadow: 0 0 10px var(--col-B);
    transition: 0.5s;

    transform: translateY(-10px);
}



/* Media Queries */